html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}            

.light-slide-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: lightblue;
  height: 100%;
  width: 100%;
}

.light-slide-panel {
  padding: 10px;
  background-color: yellow;
  overflow: auto;
  height: 100%;
  width: 100%;
}
